:root {
    --background: #14141f;
    --surface: #21212c;
    --surface-raised: #2b2b3b;

    --brand: #5966f3;
    --brand-hover: #8892f6;
    --brand-accent: #f59f0a;

    --foreground: #f1f1f4;
    --foreground-muted: #ababba;
    --foreground-disabled: #73738c;
    --border: #363649;
    --border-strong: #575775;

    --success: #21c45d;
    --warning: #f59f0a;
    --danger: #eb2d53;
    --info: #3c83f6;
}