:light {
    --background: #f7f5f3;
    --surface: #ffffff;
    --surface-raised: #ffffff;

    --brand: #5966f3;
    --brand-hover: #8892f6;

    --text-primary: #22222a;
    --text-secondary: #6d6d78;
    --text-disabled: #a1a1aa;
    --border: #d7d7db;
    --border-strong: #afafb6;

    --success: #21c45d;
    --warning: #f59f0a;
    --danger: #db143c;
    --info: #3c83f6;
}