@import "tailwindcss";

@import "./tokens.css";
@import "./variants/dark.css";

body {
    font-family: var(--font-sans);
}

/* En tu CSS global */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}