@theme {
    /** COLORS */

    /* Theme Foundation */
    --color-background: var(--background);
    --color-surface: var(--surface);
    --color-surface-raised: var(--surface-raised);

    /* Brand & Action */
    --color-brand: var(--brand);
    --color-brand-hover: var(--brand-hover);
    --color-brand-accent: var(--brand-accent);
    
    /* Text & Borders */
    --color-foreground: var(--foreground);
    --color-foreground-muted: var(--foreground-muted);
    --color-foreground-disabled: var(--foreground-disabled);
    --color-border: var(--border);
    --color-border-strong: var(--border-strong);

    /* Feedback */
    --color-success: var(--success);
    --color-warning: var(--warning);
    --color-danger: var(--danger);
    --color-info: var(--info);
    
    /** END COLORS */

    /* Typography */
    --font-sans: "Inter", sans-serif;
    --font-mono: "JetBrains Mono", monospace;
    
    /* Text Sizes */
    --text-display: 3.75rem; /* 60px */
    --text-h1: 2.25rem; /* 36px */
    --text-h2: 1.5rem; /* 24px */
    --text-h3: 1.25rem; /* 20px */
    --text-body-large: 1.125rem; /* 18px */
    --text-body: 1rem; /* 16px */
    --text-body-small: 0.875rem; /* 14px */
    --text-caption: 0.75rem; /* 12px */
}